:root {
  --gray: lightgray;
  --lightgray: rgb(231, 231, 231);
  --dark-black: rgb(44, 44, 44);
}

.map-listing {
  margin-top: 3.5em;
  height: 30vh;
}

.map-home {
  margin-top: 3.5em;
  height: 50vh;
}

.inner {
  padding-top: 3em;
  padding-bottom: 3em;
}

.title-area {
  padding-top: 5em;
  padding-bottom: 1.4em;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: var(--dark-black);
  color: var(--gray);
}

.alternate {
  background: var(--lightgray);
}

#footer {
  background: var(--gray);
}

.footer-inner {
  background: var(--dark-black);
  color: white;
  padding: 25px 0 10px 0;
}

.footer-inner p {
  font-size: 1.2em;
  letter-spacing: 0.03rem;
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.flash {
  background: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 2rem;
  padding: 2rem;
  position: relative;
  z-index: 1;
  border-radius: 3px;
  display: -ms-flexbox;
  display: flex;
  animation: slideIn forwards 0.1s ease-in-out 2;
  animation-timing-function: cubic-bezier(0.01, 1.68, 0.58, 1);
}
.flash + .flash {
  animation-delay: 0.55s;
}
.flash + .flash + .flash {
  animation-delay: 0.6s;
}
.flash__text {
  -ms-flex: 1;
  flex: 1;
}
.flash__remove {
  background: none;
  border: 0;
}
.flash__remove:hover {
  color: #ffc40e;
}
.flash:after {
  content: '';
  display: block;
  background: white;
  position: absolute;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  top: 8px;
  left: 8px;
  z-index: -1;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
.flash--success {
  background: linear-gradient(135deg, #d2ff52 0%, #91e842 100%);
}
.flash--error {
  background: linear-gradient(20deg, red 0%, #c80000 100%);
}
.flash--info {
  background: linear-gradient(35deg, #f1e767 0%, #feb645 100%);
}
.flash p {
  margin: 0;
}
